#in-game{
    display: none;
}

/* .main-container{
    display: none;
} */

#rules-text{
    display: none;
}
.receptor{
    display: inline;
}
#game{
    background-color: darkgray;
}
#code{
    display: none;
    background-color: lightgray;
}
#guesses{
    background-color: lightgray;
}
.receptor{
height: 100px;
width: 100px;
background-color: darkgray;
display: inline-block;
}
.button{
    height: 50px;
    width: 70px;
}
.red,
#red{
background: red
}
.blue
#blue{
    background: blue;
}
.green,
#green{
    background: green;
}
.orange,
#orange{
    background: orange;
}
.pink,
#pink{
    background: pink;
}
.yellow,
#yellow{
    background: yellow;
}